img{
    width: 300px;
}
p {
    width: 80%;
}

#slika1 {
    position: relative;
    top: 50px;
    left: 100px;
    margin-bottom: 40px;
}

#slika2 {
    position: absolute;
    right: 0px;
    top: 0px;
}

#slika3{
    position: absolute;
    bottom: 0px;
}

#some {
    position: fixed;
    right:0px;
    bottom:0px;   
}