body {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
#container {
    background: #ccc;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}


.mainList::before, .mainList::after {
    content: "";
    display: table;
    clear:both;
}



header {
    background: orange;
    color: white;
    padding: 15px;
}

main ul {
    margin-top: 2px;
    list-style-type: none;
    padding: 0;
    
}
main ul li {
    width: 33.3%;
    float: left;
}
.image {
    height: 100px;
   margin-top: 0px;
    
}

.grey{
    background: grey;
}

.blue {
    background: blue;
}
.red {
    background: red;
}

@media all and (max-width: 768px) {


    main ul li{
    
        width: 50%;
    };

}
 @media (max-width: 600px){
        
            .blue {
                background: green;
            }

    }